/* System Colors
--sys-accent-prop
--sys-accent-alpha
--sys-text-color-on-accent
--sys-accent-light-3-prop
--sys-accent-light-3-alpha
--sys-text-color-on-accent-light-3
--sys-accent-disabled-prop
--sys-accent-disabled-alpha
--sys-error-accent-color
--sys-hover-accent-color
--sys-light-color-bg
--sys-layering-strength
--sys-floating-strength
--sys-normal-strength
--theme-border-radius
*/
:root {
    --sys-accent-color: rgba(var(--sys-accent-prop), var(--sys-accent-alpha));
    --sys-accent-light-3-color: rgba(var(--sys-accent-light-3-prop), var(--sys-accent-light-3-alpha));
}
html.theme-dark {
    --sys-light-color-bg: 0 !important;
    --sys-layering-strength: 250 !important;
    --sys-normal-strength: 50 !important;
    --sys-floating-strength: 0 !important;
}
html.theme-light {
    --sys-light-color-bg: 1 !important;
    --sys-layering-strength: 250 !important;
    --sys-normal-strength: 255 !important;
    --sys-floating-strength: 255 !important;
}

html.theme-dark {
    --theme-border-radius: 0.5rem;
    --theme-layering-prop: 0 0% 100%;
    --theme-bg-layering: hsla(0 0% 100% / .03);
    --theme-bg-layering-double: hsl(0 0% 100% / .06);
    --theme-bg-layering-half: hsl(0 0% 100% / .015);
    --theme-border-color: rgba(250, 250, 250, 0.5) !important;
    --channel-text-area-placeholder: rgba(250, 250, 250, 0.5) !important;
}
html.theme-light {
    --theme-bg-layering: hsla(0 0% 100% / .03);
    --theme-bg-layering-double: hsl(0 0% 100% / .06);
    --theme-bg-layering-half: hsl(0 0% 100% / .015);
    --theme-layering-prop: 0 0% 100%;
    --theme-border-color: rgba(0, 0, 0, 0.5) !important;
    --channel-text-area-placeholder: rgba(0, 0, 0, 0.5) !important;
}

:root {
    /* Predefined Theme Color */
    --theme-bg-floating: rgba(var(--theme-normal-prop), 0.75) !important;
    --theme-normal-prop: var(--sys-normal-strength), var(--sys-normal-strength), var(--sys-normal-strength) !important;
    --theme-scrollbar-color: hsla(var(--theme-layering-prop) / 0.25);
    --theme-border-color: hsla(var(--theme-layering-prop) / 0.5);
}

:root {
    --edge-grey-background: transparent !important; /* No Internet Error */

    --background-primary: var(--theme-bg-layering) !important;
    --background-secondary: transparent !important;
    --background-secondary-alt: hsla(var(--theme-layering-prop) / 0.045) !important;
    --background-tertiary: transparent !important;
    --background-message-hover: hsla(var(--theme-layering-prop) / 0.07) !important;
    --background-floating: var(--theme-bg-floating) !important;
    --background-accent: var(--theme-bg-layering) !important;
    --profile-body-background-color: transparent !important;

    --activity-card-background: var(--theme-bg-layering) !important;
    --deprecated-store-bg: var(--background-primary) !important;
    --channeltextarea-background: var(--theme-bg-layering) !important;
    --input-background: var(--theme-bg-layering) !important;
    --scrollbar-auto-track: transparent !important;
    --scrollbar-thin-track: transparent !important;
    --scrollbar-thin-thumb: var(--theme-scrollbar-color) !important;
    --scrollbar-auto-thumb: var(--theme-scrollbar-color) !important;
    --background-modifier-hover: var(--theme-bg-layering-half) !important;
    --background-modifier-selected: var(--theme-bg-layering) !important;
    --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,calc(0.08 + var(--sys-light-color-bg) * 0.1)) !important;
    --text-link: var(--sys-accent-light-3-color) !important;
}
:root {
    --brand-experiment-100: var(--sys-accent-color) !important;
    --brand-experiment-130: var(--sys-accent-color) !important;
    --brand-experiment-160: var(--sys-accent-color) !important;
    --brand-experiment-200: var(--sys-accent-color) !important;
    --brand-experiment-230: var(--sys-accent-color) !important;
    --brand-experiment-260: var(--sys-accent-color) !important;
    --brand-experiment-300: var(--sys-accent-color) !important;
    --brand-experiment-330: var(--sys-accent-color) !important;
    --brand-experiment-360: var(--sys-accent-color) !important;
    --brand-experiment-400: var(--sys-accent-color) !important;
    --brand-experiment-430: var(--sys-accent-color) !important;
    --brand-experiment-460: var(--sys-accent-color) !important;
    --brand-experiment: var(--sys-accent-color) !important;
    --brand-experiment-500: var(--sys-accent-color) !important;
    --brand-experiment-530: var(--sys-accent-color) !important;
    --brand-experiment-560: var(--sys-accent-color) !important;
    --brand-experiment-600: var(--sys-accent-color) !important;
    --brand-experiment-630: var(--sys-accent-color) !important;
    --brand-experiment-660: var(--sys-accent-color) !important;
    --brand-experiment-700: var(--sys-accent-color) !important;
    --brand-experiment-730: var(--sys-accent-color) !important;
    --brand-experiment-760: var(--sys-accent-color) !important;
    --brand-experiment-800: var(--sys-accent-color) !important;
    --brand-experiment-830: var(--sys-accent-color) !important;
    --brand-experiment-860: var(--sys-accent-color) !important;
    --brand-experiment-900: var(--sys-accent-color) !important;
    --brand-experiment-05a: rgba(var(--sys-accent-prop),0.05) !important;
    --brand-experiment-10a: rgba(var(--sys-accent-prop),0.1) !important;
    --brand-experiment-15a: rgba(var(--sys-accent-prop),0.15) !important;
    --brand-experiment-20a: rgba(var(--sys-accent-prop),0.2) !important;
    --brand-experiment-25a: rgba(var(--sys-accent-prop),0.25) !important;
    --brand-experiment-30a: rgba(var(--sys-accent-prop),0.3) !important;
    --brand-experiment-35a: rgba(var(--sys-accent-prop),0.35) !important;
    --brand-experiment-40a: rgba(var(--sys-accent-prop),0.4) !important;
    --brand-experiment-45a: rgba(var(--sys-accent-prop),0.45) !important;
    --brand-experiment-50a: rgba(var(--sys-accent-prop),0.5) !important;
    --brand-experiment-55a: rgba(var(--sys-accent-prop),0.55) !important;
    --brand-experiment-60a: rgba(var(--sys-accent-prop),0.6) !important;
    --brand-experiment-65a: rgba(var(--sys-accent-prop),0.65) !important;
    --brand-experiment-70a: rgba(var(--sys-accent-prop),0.7) !important;
    --brand-experiment-75a: rgba(var(--sys-accent-prop),0.75) !important;
    --brand-experiment-80a: rgba(var(--sys-accent-prop),0.8) !important;
    --brand-experiment-85a: rgba(var(--sys-accent-prop),0.85) !important;
    --brand-experiment-90a: rgba(var(--sys-accent-prop),0.9) !important;
    --brand-experiment-95a: rgba(var(--sys-accent-prop),0.95) !important;
}
div[class="scroller-3X7KbA none-2-_0dP scrollerBase-_bVAAt"]:nth-child(6) {
    display: none !important;
}
div[class="scroller-3X7KbA none-2-_0dP scrollerBase-_bVAAt"]:nth-child(5) {
    display: none !important;
}

div.container-2RRFHK /* Loading screen */
{
    background-color: var(--theme-bg-floating);
}
.unread-2wipsx /* The text NEW UNREADS on the top */
{
    background-color: var(--sys-accent-color);
}
.content-3spvdd /* Bubble saying the date */
{
    --background-primary: rgb(var(--theme-normal-prop));
}
code, /* Code blocks */
article, /* Embeded */
*[class*="lookFilled"]:not(*[class*="color"]), /* Any spcial controls in chat or somewhere else (combobox, etc.) */
.container-2cd8Mz,
.accountProfileCard-lbN7n-, /* Settings Page -> My Account -> [your profile background] */
.inset-SbsSFp, /* The card in Home -> Friend page -> Inner Card */
.messageGroupWrapper-1jf_7C, /* Pinned Menu Message */
.tutorial-Nb3Zz5, /* Tutorial Inbox Menu Message */
.messages-23can0 /* Inbox Menu Message Background */
{
    background-color: var(--theme-bg-layering) !important;
}
.chatContent-3KubbW, /* The chat messages content */
div[aria-label="Members"] /* Members pane on the right of the chat */
{
    background-color: var(--theme-bg-layering-half);
}
*[class*="lookFilled"]:hover /* Any spcial controls in chat or somewhere else (combobox, etc.) but hover */
{
    border-color: var(--theme-border-color) !important;
}
/* Blur Background */
.menu-1QACrS::before, /* Context Menu On Message */
.autocomplete-3NRXG8::before, /* Autocomplete when you type @username or #text-channel */
div[class*="popout"]::before, /* Popout (Class) */
div[id*="popout"]::before, /* Thread Menu and Pinned Message */
.drawerSizingWrapper-1txdWG::before /* Emoji Panel */
{
    content: ' ';
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
    border-radius: var(--theme-border-radius);
    z-index: -1;
}
/* #popout_33>div {
    background-color: red;
} */
.colorDefault-CDqZdO.focused-3qFvc8 /* Context Menu Color Hover */
{
    background-color: rgba(var(--sys-accent-prop),0.5);
}
/* [Typing message box: What Discord does with it]

Have a textbox without top margin

Instead, if we scroll down to the bottom, then there is the padding in the chat messages instead.

No, I don't want that since it will be hard to style later.
*/
.form-3gdLxP /* Typing message box */
{
    margin-top: 0px !important;
    padding-top: 16px !important;
}
.form-3gdLxP:before /* Typing message box */
{
    width: 0px !important;
    height: 0px !important;
}

.jumpToPresentBar-1cEnH0 /* Jump to Present message */
{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.autocomplete-3NRXG8, /* Autocomplete when you type @username or #text-channel */
.drawerSizingWrapper-1txdWG::before /* Emoji Panel */
{
    background-color: var(--theme-bg-floating) !important;
}
.autocomplete-3NRXG8 /* Autocomplete when you type @username or #text-channel THEN */
.selected-3H3-RC /* Hover */
{
    background-color: var(--theme-bg-layering) !important;
}
.autocomplete-3NRXG8 /* Autocomplete when you type @username or #text-channel THEN */
.categoryHeader-OpJ1Ly /* Command Header */
{
    background-color: transparent !important;
}
.scroller-kQBbkU::-webkit-scrollbar-track /* Main scroll bar */
{
    margin-bottom: 0px !important;
}
.scrollerSpacer-3AqkT9 /* The space reserved when scrolling the chat messages to the bottom. It's no longer needed since we add padding to the textbox instead. */
{
    display: none;
}
/* End of [Typing message box: What Discord does with it] */
.children-3xh0VB:after /* Top Bar Thing that has gradient */
{
    background: transparent !important;
}
.content-2a4AW9:not(.list-3FIpnh>div:first-child), .members-3WRCEx, .membersWrap-3NUR2t {
    min-height: 100%;
    padding: 0px !important;
}
.content-FDHp32 a /* <a> inside the popup box when you click the text channel description */
{
    color: var(--text-link) !important;
}
.chat-2ZfjoI, .container-2cd8Mz, .container-36u7Lw, .applicationStore-2nk7Lo {
    border-radius: var(--theme-border-radius) 0px 0px 0px;
}

.callContainer-HtHELf {
    background-color: transparent;
}

.panels-3wFtMD {
    border-radius: var(--theme-border-radius) 0px 0px 0px;
}
.message-2CShn3 {
    border-radius: var(--theme-border-radius);
}
.sidebar-1tnWFu {
border-radius: var(--theme-border-radius) var(--theme-border-radius) 0px 0px;
}

.item-2LIpTv /* Server Unread tag in front */
{
    margin: 0px 0px 0px 2px;
    width: 4px;
    background: var(--sys-accent-light-3-color);
    border-radius: 4px;
}
.expandedFolderBackground-1kSAf6
{
    background: var(--theme-bg-layering);
}
.gradientContainer-phMG8d /* In-Call Gradient effect on top and bottom */
{
    height: 40px;
    background-image: linear-gradient(var(--theme-bg-layering),transparent);
}
.unread-36eUEm /* Text Channel Unread tag in front */
{
    display: none;
    background-color: var(--sys-accent-light-3-color);
}
.wrapper-NhbLHG::before /* Text Channel (before) */
{
    content: "";
    position: absolute;
    height: 0px;
    width: 4px;
    border-radius: 4px;
    top: 50%;
    left: 0;
    margin-top: 0px;
    background: var(--sys-accent-light-3-color);
    transition: height 0.1s linear, margin-top 0.1s linear;
}
.wrapper-NhbLHG:hover::before /* Text Channel (Hover, before) */
{
    height: 14px;
    margin-top: -7px;
}
.modeUnread-3Cxepe::before /* Text Channel Unread (before) */
{
    height: 8px;
    margin-top: -4px;
}
.modeSelected-3DmyhH::before /* Text Channel Selected */
{
    height: 18px !important;
    margin-top: -9px !important;
}
.modeUnread-3Cxepe .channelName-3KPsGw /* Channel name that is unread */
{
    font-weight: 600;
}
.hljs-comment {
    color: #659952 !important;
}
.hljs-keyword {
    color: #619dd8;
}
.hljs.csharp .hljs-keyword::content(using) {
    color: #c186c1;
}
.hljs-string {
    color: #c99076;
}
.hljs-title {
    color: #62c9b0;
}
.hljs-attr {
    color: #a4ddff;
}
div[class*="popout"]:not(.popoutBanner-16rVDY):not(.popoutBanner-3cqRD9) /* Popout (Class) */
{
    border-width: 1px;
    border-color: var(--theme-border-color) !important;
    background-color: var(--theme-bg-floating) !important;
}
.menu-1QACrS, /* Context Menu On Message */
div[id*="popout"] /* Thread Menu and Pinned Message */
{
    background-color: var(--theme-bg-floating) !important;
    border-radius: var(--theme-border-radius) !important;
}
.outer-2JOHae.active-1W_Gl9,
.outer-2JOHae.interactive-2zD88a:hover /* The card in Home -> Friend page background */
{
    background-color: var(--theme-bg-layering-double) !important;
}
.container-2nx-BQ /* Settings Toggle */
{
    background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%) !important;
    transition: background-color linear;
}
.container-2nx-BQ[class*="checked"] /* Settings Toggle */
{
    background-color: var(--sys-accent-color) !important;
}
.divider-2rZFJK /* Unread Message Divider (NEW! tag) */
{
    --divider-color: var(--sys-accent-color); /* Intentional setting variable instead of color */
}

.info-3pQQBb /* Discord Version */
{
    user-select: none;
}

.info-3pQQBb::before /* Discord Version */
{
    content: "Mica Discord";
    color: var(--text-muted);
    font-size: 12px;
    line-height: 16px;
}

.userPopoutInner-PA9zkU, /* User Profile Popout */
.bodyInnerWrapper-2bQs1k, /* User Profile Black Region */
.messagesPopoutWrap-3zryHW, /* Pinned Popout */
.header-1w9Q93, /* Pinned Popout Header */
.container-18GwIk, /* Thread Popout */
.container-2rzKKA, /* Thread Popout Threads */
.container-3wLKDe, /* Forum Background */
.header-3_zmOb, /* Thread Popout Header */
.searchBox-3IjAC1, /* Thread Search Bar */
.recentMentionsPopout-2bI1ZN, /* Inbox Popout */
.channelHeader-DFRX8q /* Inbox Header for Channel */
{
    background: transparent !important;
}
.userPopoutInner-PA9zkU > .banner-2boKnS.popoutBanner-16rVDY,
.banner-1YaD3N.popoutBanner-3cqRD9
{
    opacity: 30%;
}